@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #27251F;
  --mcd-red: #DA291C;
  --mcd-yellow: #FFC72C;
  --mcd-black: #27251F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mcd-red: var(--mcd-red);
  --color-mcd-yellow: var(--mcd-yellow);
  --color-mcd-black: var(--mcd-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
